 // out: ../css/style.css, compress: false, sourceMap: false

body {
  background-color: rgb(201, 242, 245);
}

.note-menu {
  float: right;
   
  .note-add {
    display: inline-block;
    font-size: 16pt;
    font-size: 16pt;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: azure;
    transition: 0.3s ease all;

    &:hover {
      background-color: rgb(243, 243, 194);
    }
  }
}



